.popular {
  margin-bottom: 140px;
}

.popularTop {
  @apply flex justify-between items-end mb-20;
}

.text {
  @apply flex flex-col gap-5 max-w-[820px];

  h2 {
    @apply text-[32px] font-bold leading-[52px] text-accent;
  }

  p {
    @apply text-[20px] leading-[27px] text-[#383738];
  }
}

.btn {
  @apply flex items-center gap-4;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 15px;
    background-color: #f4f6f6;
    border-radius: 50%;
    transition: background-color 0.2s linear;

    &:hover {
      background-color: #929696;
    }
  }
}
